@charset "UTF-8";
.letter{
position:absolute;
top:50px;
left:340px;

}

.boy{
position:absolute;
top:50px;
left:690px;
} 

.box{
    width:700px;
    height:580px;
    padding:10px;
    border:0px;
    margin:0;
    background-color: #F0F0F0;

}

.triangle{
   width:0;
   height:0;
   border-left:14px solid transparent;
   border-right:14px solid #CECECE;
   border-top:14px solid transparent;
   position:absolute;
  top:30px;
  left:300px;
}
.msg{
width:300px;
    height:50px;
    padding:10px;
    border:0px;
    margin:0;
    background-color: #F0F0F0;
    position:absolute;
    top:410px;
    left:340px;
}
.mssg{
   font-family:Arial;
   color:black;
   
}
.site{
   color:#8A8989;
   position:absolute;
   top: 550px;
   left:550px;
   font-family:Arial;
}
.bbox{
   width:210px;
    height:46px;
    padding:5px;
    border:0px;
    margin:0;
    background-color:#2420B2;
    position:absolute;
    top:400px;
    left:750px;
    color:white;
    font-family:Arial;
    font-size:17px;   
    letter-spacing:2px;
}
.dot{
   position:absolute;
   left:920px;
   top:535px;
   color:#727171;
   line-height:0.5;
}
.dott{
   position:absolute;
   left:320px;
   top:535px;
   color:#727171;
   line-height:0.5;
}
